.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  max-width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}

.charts-wrapper > div {
  width: 48%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .charts-wrapper > div {
    width: 100%;
  }
}
